In [2]:
import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine

In [3]:
#!pip install psycopg2

In [4]:
path ='usa_county_wise.csv'
path2 ='unemployment.csv'
data_df=pd.read_csv(path)
data_df.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,"American Samoa, US",1/22/2020,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,"Guam, US",1/22/2020,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,"Northern Mariana Islands, US",1/22/2020,0,0
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,"Puerto Rico, US",1/22/2020,0,0
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,"Virgin Islands, US",1/22/2020,0,0

In [5]:
state_infection =data_df[["Province_State","Country_Region","Date","Confirmed"]]
#state_infection.dtypes

#df['Date']= pd.to_datetime(df['Date'])

In [6]:
state_infection["month"] = state_infection["Date"].str[0:2].str.replace("/","").copy()
state_infection.sample()

C:\Users\momad\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      Province_State Country_Region       Date  Confirmed month
77271      Tennessee             US  2/14/2020          0     2

In [25]:
infectionByMonth= state_infection.loc[(state_infection["month"] == "1")|(state_infection["month"] == "2"), :] 
infectionByMonth=state_infection.loc[(state_infection["Country_Region"] == "US"), :] 
infectionByMonth.head(60)

              Province_State Country_Region       Date  Confirmed month
0             American Samoa             US  1/22/2020          0     1
1                       Guam             US  1/22/2020          0     1
2   Northern Mariana Islands             US  1/22/2020          0     1
3                Puerto Rico             US  1/22/2020          0     1
4             Virgin Islands             US  1/22/2020          0     1
5                    Alabama             US  1/22/2020          0     1
6                    Alabama             US  1/22/2020          0     1
7                    Alabama             US  1/22/2020          0     1
8                    Alabama             US  1/22/2020          0     1
9                    Alabama             US  1/22/2020          0     1
10                   Alabama             US  1/22/2020          0     1
11                   Alabama             US  1/22/2020          0     1
12                   Alabama             US  1/22/2020          0     1
13                   Alabama             US  1/22/2020          0     1
14                   Alabama             US  1/22/2020          0     1
15                   Alabama             US  1/22/2020          0     1
16                   Alabama             US  1/22/2020          0     1
17                   Alabama             US  1/22/2020          0     1
18                   Alabama             US  1/22/2020          0     1
19                   Alabama             US  1/22/2020          0     1
20                   Alabama             US  1/22/2020          0     1
21                   Alabama             US  1/22/2020          0     1
22                   Alabama             US  1/22/2020          0     1
23                   Alabama             US  1/22/2020          0     1
24                   Alabama             US  1/22/2020          0     1
25                   Alabama             US  1/22/2020          0     1
26                   Alabama             US  1/22/2020          0     1
27                   Alabama             US  1/22/2020          0     1
28                   Alabama             US  1/22/2020          0     1
29                   Alabama             US  1/22/2020          0     1
30                   Alabama             US  1/22/2020          0     1
31                   Alabama             US  1/22/2020          0     1
32                   Alabama             US  1/22/2020          0     1
33                   Alabama             US  1/22/2020          0     1
34                   Alabama             US  1/22/2020          0     1
35                   Alabama             US  1/22/2020          0     1
36                   Alabama             US  1/22/2020          0     1
37                   Alabama             US  1/22/2020          0     1
38                   Alabama             US  1/22/2020          0     1
39                   Alabama             US  1/22/2020          0     1
40                   Alabama             US  1/22/2020          0     1
41                   Alabama             US  1/22/2020          0     1
42                   Alabama             US  1/22/2020          0     1
43                   Alabama             US  1/22/2020          0     1
44                   Alabama             US  1/22/2020          0     1
45                   Alabama             US  1/22/2020          0     1
46                   Alabama             US  1/22/2020          0     1
47                   Alabama             US  1/22/2020          0     1
48                   Alabama             US  1/22/2020          0     1
49                   Alabama             US  1/22/2020          0     1
50                   Alabama             US  1/22/2020          0     1
51                   Alabama             US  1/22/2020          0     1
52                   Alabama             US  1/22/2020          0     1
53                   Alabama             US  1/22/2020          0     1
54                   Alabama             US  1/22/2020          0     1
55                   Alabama             US  1/22/2020          0     1
56                   Alabama             US  1/22/2020          0     1
57                   Alabama             US  1/22/2020          0     1
58                   Alabama             US  1/22/2020          0     1
59                   Alabama             US  1/22/2020          0     1

In [24]:

infectionByState= infectionByMonth.groupby(["month","Province_State"]).sum()#.dt.strftime("%m"))
infectionByState_df = infectionByState.reset_index().head()
#df['YearMonth'] = df['ArrivalDate'].map(lambda x: 100*x.year + x.month)
infectionByState_df

  month  Province_State  Confirmed
0     1         Alabama          0
1     1          Alaska          0
2     1  American Samoa          0
3     1         Arizona          6
4     1        Arkansas          0

In [18]:
unemployment_df = pd.read_csv(path2)
unemployment_df.head()

        State  Jan.  Feb.
0     Alabama   2.7   2.7
1      Alaska   6.0   5.8
2     Arizona   4.5   4.5
3    Arkansas   3.5   3.9
4  California   3.9   2.5

### Connectto local database

In [19]:
rds_connection_string = "postgres:postgres@localhost:5432/etl_pro_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Chech for tables

In [20]:
engine.table_names()

['infection', 'unemployment']

In [27]:
['infection, unemployment']

['infection1, unemployment']

### Use pandas to load csv converted DataFrame into database

In [29]:
infectionByMonth.to_sql(name='infection1', con=engine, if_exists='append', index=False)

In [31]:
unemployment_df.to_sql(name='unemployment', con=engine, if_exists='append', index=False)