In [22]:
import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine

In [23]:
#!pip install psycopg2

In [24]:
path ='usa_county_wise.csv'
path2 ='unemployment.csv'
data_df=pd.read_csv(path)
data_df.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,"American Samoa, US",1/22/2020,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,"Guam, US",1/22/2020,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,"Northern Mariana Islands, US",1/22/2020,0,0
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,"Puerto Rico, US",1/22/2020,0,0
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,"Virgin Islands, US",1/22/2020,0,0

In [25]:
state_infection =data_df[["Province_State","Country_Region","Date","Confirmed"]]
#state_infection.dtypes

#df['Date']= pd.to_datetime(df['Date'])

In [26]:
state_infection["month"] = state_infection["Date"].str[0:2].str.replace("/","").copy()
state_infection.sample()

C:\Users\momad\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       Province_State Country_Region       Date  Confirmed month
115873   North Dakota             US  2/26/2020          0     2

In [27]:
infectionByMonth= state_infection.loc[(state_infection["month"] == "1")|(state_infection["month"] == "2"), :] 
infectionByMonth=state_infection.loc[(state_infection["Country_Region"] == "US"), :] 
infectionByMonth.head()

             Province_State Country_Region       Date  Confirmed month
0            American Samoa             US  1/22/2020          0     1
1                      Guam             US  1/22/2020          0     1
2  Northern Mariana Islands             US  1/22/2020          0     1
3               Puerto Rico             US  1/22/2020          0     1
4            Virgin Islands             US  1/22/2020          0     1

In [46]:

infectionByState= infectionByMonth.groupby(["month","Province_State"]).sum()#.dt.strftime("%m"))
infectionByState_df = infectionByState.reset_index().head()
#df['YearMonth'] = df['ArrivalDate'].map(lambda x: 100*x.year + x.month)
infectionByState_df

  month  Province_State  Confirmed
0     1         Alabama          0
1     1          Alaska          0
2     1  American Samoa          0
3     1         Arizona          6
4     1        Arkansas          0

In [29]:
unemployment_df = pd.read_csv(path2)
unemployment_df.head()

        State  Jan.  Feb.
0     Alabama   2.7   2.7
1      Alaska   6.0   5.8
2     Arizona   4.5   4.5
3    Arkansas   3.5   3.9
4  California   3.9   2.5

### Connectto local database

In [51]:
rds_connection_string = "postgres:postgres@localhost:5432/etl_pro_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Chech for tables

In [52]:
engine.table_names()

[]

In [53]:
['infection, unemployment']

['infection, unemployment']

### Use pandas to load csv converted DataFrame into database

In [54]:
infectionByState_df.to_sql(name='infection', con=engine, if_exists='append', index=False)

In [55]:
unemployment_df.to_sql(name='unemployment', con=engine, if_exists='append', index=False)