In [14]:
import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine
import numpy as np

In [15]:
#!pip install psycopg2

In [16]:
path ='usa_county_wise.csv'
path2 ='unemployment.csv'
data_df=pd.read_csv(path)
data_df.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,"American Samoa, US",1/22/2020,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,"Guam, US",1/22/2020,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,"Northern Mariana Islands, US",1/22/2020,0,0
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,"Puerto Rico, US",1/22/2020,0,0
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,"Virgin Islands, US",1/22/2020,0,0

In [17]:
state_infection =data_df[["Province_State","Country_Region","Date","Confirmed"]]
#state_infection.dtypes

#df['Date']= pd.to_datetime(df['Date'])

In [18]:
state_infection["month"] = state_infection["Date"].str[0:2].str.replace("/","").copy()
state_infection.sample()

C:\Users\momad\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      Province_State Country_Region       Date  Confirmed month
85934      Minnesota             US  2/17/2020          0     2

In [71]:
infectionByMonth= state_infection.loc[(state_infection["month"] == "1")|(state_infection["month"] == "2"), :] 
#infectionByMonth=state_infection.loc[(state_infection["Country_Region"] == "US"), :] 
infectionByMonth.head()

             Province_State Country_Region       Date  Confirmed month
0            American Samoa             US  1/22/2020          0     1
1                      Guam             US  1/22/2020          0     1
2  Northern Mariana Islands             US  1/22/2020          0     1
3               Puerto Rico             US  1/22/2020          0     1
4            Virgin Islands             US  1/22/2020          0     1

In [74]:
infection_df = infectionByMonth.rename(columns={"Province_State": "State"})
infection_df

                           State Country_Region       Date  Confirmed month
0                 American Samoa             US  1/22/2020          0     1
1                           Guam             US  1/22/2020          0     1
2       Northern Mariana Islands             US  1/22/2020          0     1
3                    Puerto Rico             US  1/22/2020          0     1
4                 Virgin Islands             US  1/22/2020          0     1
...                          ...            ...        ...        ...   ...
126862                Washington             US  2/29/2020          0     2
126863             West Virginia             US  2/29/2020          0     2
126864                 Wisconsin             US  2/29/2020          0     2
126865                   Wyoming             US  2/29/2020          0     2
126866            Grand Princess             US  2/29/2020          0     2

[126867 rows x 5 columns]

In [72]:
#infectionBy['ID'] = np.arange(infectionByState.shape[0])
#infectionByState.tail()

In [32]:
unemployment_df = pd.read_csv(path2)
unemployment_df.head(60)

             State  Jan.  Feb.
0          Alabama   2.7   2.7
1           Alaska   6.0   5.8
2          Arizona   4.5   4.5
3         Arkansas   3.5   3.9
4       California   3.9   2.5
5         Colorado   2.5   2.8
6      Connecticut   3.7   3.9
7         Delaware   4.0   5.2
8             D.C.   5.2   2.8
9          Florida   2.8   3.1
10         Georgia   3.1   2.7
11          Hawaii   2.7   2.7
12           Idaho   2.8   3.4
13        Illinois   3.5   3.1
14         Indiana   3.1   2.8
15            Iowa   2.8   3.1
16          Kansas   3.1   4.2
17        Kentucky   4.3   5.2
18       Louisiana   5.1   3.2
19           Maine   3.1   3.3
20        Maryland   3.3   2.8
21   Massachusetts   2.8   3.6
22        Michigan   3.8   3.1
23       Minnesota   3.2   5.4
24     Mississippi   5.5   3.5
25        Missouri   3.5   3.5
26         Montana   3.5   2.9
27        Nebraska   3.9   3.6
28          Nevada   3.6   3.6
29   New Hampshire   2.6   3.8
30      New Jersey   3.8   4.8
31      New Mexico   4.8   3.7
32        New York   3.8   3.6
33  North Carolina   3.6   2.2
34    North Dakota   2.3   4.2
35            Ohio   4.1   3.2
36        Oklahoma   3.3   3.3
37          Oregon   3.3   4.7
38    Pennsylvania   4.7   3.4
39    Rhode Island   3.1   2.5
40  South Carolina   2.4   3.3
41    South Dakota   3.4   3.4
42       Tennessee   3.3   3.5
43           Texas   4.5   2.5
44            Utah   2.5   3.4
45         Vermont   2.4   2.6
46        Virginia   2.7   3.8
47      Washington   3.9   4.9
48   West Virginia   5.0   3.7
49       Wisconsin   3.5   2.7
50         Wyoming   3.7   5.8
51     Puerto Rico   8.9   4.5

### Connectto local database

In [30]:
rds_connection_string = "postgres:postgres@localhost:5432/etl_pro_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Chech for tables

In [31]:
engine.table_names()

['infection1']

In [32]:
['infection, unemployment']

['infection, unemployment']

### Use pandas to load csv converted DataFrame into database

In [33]:
infectionByMonth.to_sql(name='infection_df', con=engine, if_exists='append', index=False)

In [34]:
unemployment_df.to_sql(name='unemployment', con=engine, if_exists='append', index=False)